@import './selected_color_scheme';
@import '~@influenzanet/case-web-ui/build/scss/helpers/spacing.scss';
@import '~@influenzanet/case-web-ui/build/scss/helpers/forms.scss';
@import '~@influenzanet/case-web-ui/build/scss/helpers/custom_range.scss';
@import '~@influenzanet/case-web-ui/build/scss/helpers/navbar.scss';
@import '~@influenzanet/case-web-ui/build/scss/helpers/borders.scss';
@import '~@influenzanet/case-web-ui/build/scss/helpers/date_input.scss';
@import '~@influenzanet/case-web-ui/build/scss/helpers//typography.scss';
@import '~@influenzanet/case-web-ui/build/scss/helpers/utilities.scss';

@include datepicker_classes($theme-colors);

// ---------------------------------------------
// Other:
// ---------------------------------------------
$enable-rounded: false !default;
$nav-tabs-link-active-color: white;
$nav-link-color: white;
$offcanvas-horizontal-width: 200px;

form .btn-link.text-uppercase {
  text-transform: inherit !important;
}

.captcha-badge-alt {
  color: map-get($theme-colors, 'grey-7');
  & a {
    color: #000;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

// fix slider question on firefox
.form-range {
  z-index: 1;
  position: relative;
}

.container-lg:has(.footer-services) {
  justify-content: center;
}

@import '~@influenzanet/case-web-ui/build/scss/iconfonts';
@import '~bootstrap/scss/bootstrap.scss';
